/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
diss-bookingSystem/vendor/bin/carbon
diss-bookingSystem/vendor/bin/patch-type-declarations
diss-bookingSystem/vendor/bin/php-parse
diss-bookingSystem/vendor/bin/phpunit
diss-bookingSystem/vendor/bin/psysh
diss-bookingSystem/vendor/bin/var-dump-server
